
.cusbutton{

background-color: #fff;
height: 60px;
width: 60px;
border-radius: 20px;

}
 .fac{
   border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
    padding-top: 0.5em;
  background-color: #039184;
  color: white;

}
.clipped {
  clip-path: polygon(100% 0%, 100% 70%, 50% 90%, 50% 90%, 0 70%, 0 0);
}
.cc::after {
   content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 436px;
  opacity: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
textarea:-moz-placeholder, /* Firefox 18- */
textarea::-moz-placeholder, /* Firefox 19+ */
textarea:-ms-input-placeholder, /* IE 10+ */
textarea::-webkit-input-placeholder, /* Webkit based */
textarea::placeholder { /* Modern browsers */
  color: gray;
}

.back {
  background-image: url("/theme_azeer/static/src/images/loginbk.png");
background-size: cover;
background-repeat: no-repeat;
width: 100%;
position: absolute;
top: 0;
bottom: 0;
height: 100%;
}

.div-center {
 width: 400px;
background-color: #fff;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
max-width: 100%;
max-height: 100%;
overflow: auto;
padding: 1em 2em;
border-bottom: 2px solid #ccc;
display: table;
border-radius: 18px;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}
.forge{
text-align: right;
}

html[lang="ar-001"] .forge{
text-align: left;

}