.section-services .grid-content, .section-partner .grid-content {
    display: flex;
    grid-template-columns: unset;
    grid-gap: unset;
}

.section-partner {
    padding: 25px 0;
}

.form-control {
    width: 100% !important;
    margin-bottom: 40px !important;
    padding: 21px 30px !important;
    border: 1px solid #d5d5d5 !important;
    margin-bottom: 35px !important;
    border-radius: 40px !important;
}

.s_website_form_label{
    width: unset !important;
}